body {
    background-color: rgb(207, 201, 189);
    color: black;
}

img {
    max-width: 70%;
    margin-left: 15%;
}
@media screen and (min-width: 600px) {
    img {
    max-width: 90%;
    margin-left: 5%;
    }
    
}

h1 {
    text-align: center;
}