<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        div {
            color: royalblue;
        }
        body {
            background-color: blanchedalmond;
        }
    </style>
</head>
<body>
    <div id="app">
        <p>Pick a priority!</p>
        <select v-model="selected">
            <option v-for="priority in options" v-bind:value="priority.value">
              {{ priority.text }}
            </option>
          </select>
          <p> {{ selected }}</p>
    </div>

    <script src="index.js"></script>
</body>
</html>