<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        div {
            color: royalblue;
        }
        body {
            background-color: blanchedalmond;
        }
    </style>
</head>
<body>
    <div id="app">

    <input v-model="password" placeholder="Password">
    <p>Your password is: {{ password }}</p>

    <input v-model="email" placeholder="Email">
    <p>Your email is: {{ email }}</p>

    </div>

    <script src="index.js"></script>
</body>
</html>